.recharts-legend-wrapper .recharts-default-legend .recharts-legend-item {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .recharts-legend-wrapper .recharts-default-legend .recharts-legend-item:hover {
    opacity: 1;
  }