.recharts-tooltip-wrapper .custom-tooltip {
    margin: 0px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    white-space: nowrap;
  }
  
  .recharts-tooltip-wrapper .custom-tooltip .title {
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .recharts-tooltip-wrapper .custom-tooltip .measure {
    padding: 4px 0;
    color: #999
  }