.map-container {
    width: 400px;
    height: 450px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.map-region {
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
    stroke-opacity: 0.8;
}

.map-region:hover {
    fill-opacity: 0.8;
}

.map-tooltip {
    visibility: hidden;
    position: absolute;
    padding: 5px 10px;
    opacity: 0.8;
    z-index: 10;
    border-radius: 3px;
    background-color: #2B0B3F;
    font-size: 13px;
    font-family: Open Sans, sans-serif;
    color: #ffffff;
}

.map-tooltip:before {
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.map-tooltip:after {
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid #2B0B3F;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;    
}

.map-legend-wrapper text {
    fill: rgba(0, 0, 0, 0.87);
}